<!DOCTYPE html>
<html>
  <head>
    <title>BlogApp User Details</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= stylesheet_link_tag "/users/users_show.css" %>
  </head>

  <body>
    <div class="container">
        <div class="user-info">
            <div class="profile-photo">
            <p>photo</p>
            </div>

            <div class="user-details">
                <h3><%=@user.name%></h3>
                <p>Number of Posts: <%=@user.posts.count%></p>
            </div>
        </div>

        <div class="bio">
        <h3>Bio</h3>
            <%=@user.bio%>
        </div>

        <ul class="post-list">
          <%@recent_posts.each do |post|%>
          <li>
          <%= link_to "/users/#{@user.id}/posts/#{post.id}", id:"post_#{post.id}_link" do %>
            <h3><%=post.title%></h3>
          <%end%>
            <p>
              <%=post.text%>
            </p>
            <p class='likes-comments'>Comments: <%=post.comments.count%> | Likes: <%=post.likes.count%></p>
          </li>
          <%end%>
        </ul>
        <div class="user_show_btn_grp">
          <%=button_to "See all posts", "/users/#{@user.id}/posts", class: 'all-posts', id: "users-#{@user.id}", method: :get%>
          <%= button_to "Add new post", new_user_post_path(@user), class: 'all-posts', method: :get %>
        </div>
    </div>
  </body>
</html>