<!DOCTYPE html>
<html>
  <head>
    <title>BlogApp User Details</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
  </head>

  <body>
    <div class="container">
        <div class="user-info">
            <div class="profile-photo">
            <p>photo</p>
            </div>

            <div class="user-details">
                <h3><%=@user.name%></h3>
                <p><%=@user.posts.count%></p>
            </div>
        </div>

        <div class="bio">
        <h3>Bio</h3>
            <%=@user.bio%>
        </div>

        <ul class="post-list">
          <%@posts.each do |post|%>
          <li>
            <h3><%=post.title%></h3>
            <p>
              <%=post.text%>
            </p>
            <p class='likes-comments'>Comments: <%=post.comments_counter%> | Likes: <%=post.likes_counter%></p>
          </li>
          <%end%>
        </ul>
        <%=button_to "See all posts", "/users/#{@user.id}/posts", class: 'all-posts', id: "users-#{@user.id}", method: :get%>
    </div>
  </body>
</html>