<!DOCTYPE html>
<html>
  <head>
    <title>BlogApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
  </head>

  <body>
    <div class="container">
        <div class="user-info">
            <div class="profile-photo">
            <p>photo</p>
            </div>

            <div class="user-details">
                <h3><%=@posts[0].author.name%></h3>
                <p>Number of post: <%=@posts.count%></p>
            </div>
        </div>

        <ul class="posts">
          <%@posts.each do |post|%>

          <li class="post">
            <div>
              <%= link_to "/users/#{post.author.id}/posts/#{post.id}" do %>
              <h3><%=post.title%></h3>
              <%end%>
              <p>
                <%=post.text%>
              </p>
              <p class='likes-comments'>Comments: <%=post.comments_counter%> | Likes: <%=post.likes_counter%></p>
            </div>
            <div class="comments">
                <ul class="commens-list">
                <%post.recent_comments.each do |comment|%>
                    <li>
                        <p><%="#{comment.author.name}: #{comment.text}"%></p>
                    </li>
                    <%end%>
                </ul>
            </div>
          </li>
          <%end%>
        </ul>
        <button class="all-posts">Pagination</button>
    </div>
  </body>
</html>