<!DOCTYPE html>
<html>
  <head>
    <title>BlogApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= stylesheet_link_tag "/users/posts_show.css" %>
  </head>

  <body>
    <div class="container">
        <div class="pos">
          <div class="post-info">
            <div>
                <h3><%="#{@post.title} by #{@post.author.name}"%></h3>
                <p class='likes-comments'>Comments: <%=@post.comments.count%> | Likes: <%=@post.likes.count%></p>
            </div>
            <p>
                <%=@post.text%>
                <%= form_with url: user_post_likes_path(@post.author, @post), class: 'like_button' do |form| %>
                  <%= form.submit 'Like' %>
                <% end %>
            </p>
          </div>
          <div class="comments">
              <ul class="commens-list">
                <%@post.comments.each do |comment|%>
                  <li>
                      <p><%="#{comment.author.name}: #{comment.text}"%></p>
                  </li>
                <%end%>
              </ul>
          </div>
        <%= button_to 'Add comments', new_user_post_comment_path(@user, @post), class: 'all-posts', method: :get %>
    </div>
  </body>
</html>