<!DOCTYPE html>
<html>
  <head>
    <title>BlogApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
  </head>

  <body>
    <div class="container">
        <div class="pos">
          <div class="post-info">
            <div>
                <h3><%="#{@post.title} by #{@post.author.name}"%></h3>
                <p class='likes-comments'>Comments: <%=@post.comments.count%> | Likes: <%=@post.likes.count%></p>
            </div>
            <p>
                <%=@post.text%>
            </p>
          </div>
          <div class="comments">
              <ul class="commens-list">
                <%@post.comments.each do |comment|%>
                  <li>
                      <p><%="#{comment.author.name}: #{comment.text}"%></p>
                  </li>
                <%end%>
              </ul>
          </div>
        </div>
    </div>
  </body>
</html>